.tecnologia-bg {
  background: var(--cor-11);
  box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.tecnologia-conteudo h2,
.tecnologia-conteudo span {
    padding-bottom: 50px;
}

.tecnologia-conteudo a {
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 80px;
}

.tecnologia-caracteristicas {
  display: flex;
  gap: 40px;
}

.tecnologia-caracteristicas h3 {
  margin-bottom: 8px;
  width: max-content;
}

.tecnologia-caracteristicas img {
  width: 24px;
  margin-bottom: 8px;
}

.tecnologia-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}