:root {
    --logo: #ffffff;
    --bg-1: #000000;
    --bg-c10: #2E2E2E;
}

/*@media (prefers-color-scheme: dark) {
    :root {
        --logo: #000000;
        --bg-1: #ffffff;
    }
}*/

.header-bg {
    background: var(--bg-1);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    justify-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}

.header-menu li {
    color: var(--logo);
    font-size: 1.8rem;
    line-height: 3.2;
    padding: 16px 0px;
    display: inline-block;
}

.header-menu a {
    position: relative;
}

.header-menu a::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    bottom: -10px;
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

.header-menu a:hover {
    background: var(--bg-c10);
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }
    .header-menu a {
        position: relative;
        background: #111111;
        padding: 12px 16px;
        border-radius: 4px;
    } 
    .header-menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }
    .header-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }
}