.vantagens-bg {
    background: var(--cor-12);
}

.vantagens {
    padding-top: 120px;
    padding-bottom: 120px;
}

.vantagens h2 {
    margin-bottom: 60px;
 }

.vantagens-lista {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 80px;
}

.vantagens-lista h3, .vantagens-lista img {
    margin-bottom: 8px;
}


@media (max-width: 800px) {
    .vantagens-lista {
        gap: 20px;
    }
    .vantagens {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .vantagens h2 {
        margin-bottom: 40px;
    }   
}
